.welcome {
  width: 100%;
  height: 88vh;
}
.jumbotron {
  margin: 0px;
}
.intro .jumbotron {
  border-radius: 0;
  font-size: 14px;
  background-color: #0c0a0a;
  margin: 0px;
}
.my-service .jumbotron {
  border-radius: 0;
  font-size: 14px;
  background-color: black;
  margin: 0px;
}
.my-service .row .resize {
  padding: 0px;
}
.my-service .card {
  width: 80%;
  border-radius: 0;
  background-color: #0c0a0a;
  color: white;
}
.my-service .card img {
  max-height: 350px;
  border-radius: 0;
}
.my-service .card .text-title {
  font-size: 18px;
  font-weight: normal;
}
.text-title-2{
  font-size: 17px;
  font-weight: normal;
}
.text-title-3{
  font-size: 15px;
  font-weight: normal;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.text-1{
  font-size: 14px;
  margin-bottom: 100px;
}
.text-1 > :last-child {
  margin-bottom: 3em !important;
}
.my-service .get {
  color: #ec6015;
  text-decoration: none;
}
.my-service .get:hover {
  color: white;
}
.gallery .jumbotron {
  border-radius: 0;
  font-size: 14px;
  background-color: #0c0a0a;
  margin: 0px;
}
.gallery .card {
  border-radius: 0;
  background-color: #0c0a0a;
  color: white;
}

.gallery .row .resize {
  padding: 2px;
}
.gallery .row .resize .card {
  padding-top: 2px;
  padding-bottom: 2px;
}
.gallery .row .mid {
  padding-left: 20px;
  padding-right: 20px;
}
.gallery .row .col-sm-4 .card {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
.insta-feed .jumbotron {
  border-radius: 0;
  font-size: 14px;
  background-color: black;
  margin: 0px;
}
.footer .jumbotron {
  border-radius: 0;
  font-size: 14px;
  background-color: black;
  margin: 0px;
}
.insta-feed .row .row-atas {
  padding: 2px;
}
.insta-feed .row .row-kiri {
  padding: 2px;
}
.insta-feed .row .row-kanan-isi {
  padding: 2px;
}
.insta-feed .row .col-md-5 {
  border: 1px solid;
}
.insta-feed .row .col-md-7 {
  padding: 0px 2px;
}
.insta-feed .card {
  border-radius: 0px;
  border-color: black;
  background-color: #000;
}
.insta-feed .card .card-img-overlay {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.insta-feed .card .card-img-overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  transition: all 0.2s ease-in-out;
}
.insta-feed .card img {
  height: 437px;
  max-height: 700px;
  object-fit: cover;
  object-position: top;
}
.insta-feed .row-kiri .card img {
  height: 700px;
  max-height: 700px;
  object-fit: cover;
  object-position: top;
}
.insta-feed .btn {
  border-radius: 0px;
  padding: 15px;
  font-size: 18px;
}
.insta-feed .btn-outline-primary {
  background-color: white;
  color: black;
  border-color: white;
}
.insta-feed .btn-outline-primary:hover {
  background-color: black;
  color: white;
  border-color: black;
}
.logo-ig {
  height: 17px;
  width: 17px;
  display: inline-block;
  text-align: end;
}
.font-ig {
  font-size: 14px;
}
.d-flex {
  padding: 0px;
}
.view-ig {
  display: inline;
}
.logo-user-ig {
  border-radius: 25px;
}

.h-line {
  width: 100%;
  height: 2px;
  background: grey;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10;
}
.text-title {
  color: #ec6015;
  font-size: 50px;
}

.badge{
  position: absolute;
  right: 2%;
  top: 2%;
}

.badge-icon-img{
  height: 22px;
  width: 22px;
}
.caption{
  margin-left: 10px;
  margin-right: 10px;
}

.dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50rem;
}

.loading-back-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
}
.container-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  width: 60rem;
}
.pl-0{
  padding-left: 0px;
}
.pr-0{
  padding-right: 0px;
}

.close-button {
  float: right;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 0.25rem;
}

.arrow-right-button {
  float: right;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: center;
  direction: rtl;
}
.arrow-left-button {
  float: left;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: center;
  direction: ltr;
}

.show-dialog{
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.75s 0s, transform 0.75s;
  z-index: 1;
}

.center-map{
  display: inline;
  margin: auto;
}

.img-profile{
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.img-profile-2{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: hsl(0, 0%, 92%) 1.5px solid;
  padding: 1.5px;
}
hr.garis{
  margin : 0px;
}
.parent-scroll-caption{
  width: 100%;
  height: 460px;
  overflow: auto;
  scrollbar-width: none;
}

.parent-scroll-caption::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}
@media (min-width: 20px) and (max-width: 354px) {
  .text-title {
    font-size: 25px;
    transition: all 0.2s ease-in-out;
  }
  .insta-feed .card img {
    height: 347px;
    max-height: 700px;
    object-fit: cover;
    object-position: top;
  }
  .btn-close-modal {
    position: fixed;
    height: 20px;
    width: 20px;
    right: 30px;
    top: 30px;
    z-index: 11;
  }

  .badge-icon-img{
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 355px) and (max-width: 576px) {
  .text-title {
    font-size: 25px;
    transition: all 0.2s ease-in-out;
  }
  .insta-feed .card img {
    height: 500px;
    max-height: 700px;
    object-fit: cover;
    object-position: top;
  }
  .insta-feed .row-kiri .card img {
    height: 500px;
    max-height: 700px;
    object-fit: cover;
    object-position: top;
  }
  .btn-close-modal {
    position: fixed;
    height: 20px;
    width: 20px;
    right: 30px;
    top: 30px;
    z-index: 11;
  }
  .badge-icon-img{
    height: 25px;
    width: 25px;
  }
}
@media (min-width: 576px) {
  .text-title {
    font-size: 35px;
    transition: all 0.2s ease-in-out;
  }
  .insta-feed .card img {
    height: 700px;
    max-height: 700px;
    object-fit: cover;
    object-position: top;
  }
  .insta-feed .row-kiri .card img {
    height: 700px;
    max-height: 700px;
    object-fit: cover;
    object-position: top;
  }
  .badge-icon-img{
    height: 25px;
    width: 25px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text-title {
    font-size: 40px;
    transition: all 0.2s ease-in-out;
  }
  .insta-feed .card img {
    height: 300px;
    max-height: 700px;
    object-fit: cover;
    object-position: top;
  }
  .insta-feed .row-kiri .card img {
    height: 606px;
    max-height: 700px;
    object-fit: cover;
    object-position: top;
  }
  .badge-icon-img{
    height: 18px;
    width: 18px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-title {
    font-size: 40px;
    transition: all 0.2s ease-in-out;
  }
  .badge-icon-img{
    height: 20px;
    width: 20px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text-title {
    font-size: 50px;
    transition: all 0.2s ease-in-out;
  }
  .badge-icon-img{
    height: 20px;
    width: 20px;
  }
}
